.footer-container {
    width: 100%;
    height:auto;
    background-color:black;
    color: rgb(70, 65, 65);
    padding-top: 0px;
    position:static;
    z-index: -2;
 
    left: 0;
  }
  
  .footer-info {
    font-size: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-top: 0px;
  }
  
  .footer-info > h6  {
    padding-bottom: 0px;
    font-size: 17px;
    text-align: center;
   color:white
  }
  .footer-info > p  {
    padding-bottom: 5px;
    font-size: 14px;
  }
  .footer-contact {
    font-size: 14px;
    width: 50%;
text-align: center;
    
  }
  .footer-info >h4:hover{
color:red
  }
  
  .footer-sns {
    width: 50%;
    margin-bottom: 5px;
 
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-template-columns: 2fr 1fr;
    align-items: center;

  }
  
  .sns-links {
    display: flex;
    justify-content:space-around;
   
    
    width: 100%;
    height: 40%;
    grid-template-columns: 1fr 1fr 1fr;
margin-bottom: 0px; 
margin-left: 120px; }
  
  .instagram,
  .facebook,
  .fa-envelope,
  .whatsapp {
    font-size: 40px;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top:25px;
    border-bottom: 4px solid transparent;
    
  }
  .instagram
  {
    color:red;
  }
    
    .facebook{
      color:red}
     
      .fa-envelope
     {
        color:red }
        
        .whatsapp {
          color:#25D366}
  
  .facebook:hover,
  .instagram:hover,
  .fa-envelope:hover,
  .whatsapp:hover {
    border-color:red;
    transition: all 0.3s ease-out;
    color: white;
    transform: rotate(360deg);
  }
  .whatsapp {
    position:fixed;
    width:42px;
    height:10px;
    bottom:60px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    z-index:100;
    padding-top:4px;
    margin: 0 auto;
    border-bottom: 4px solid transparent;
  
    
  }
  


  
  .design-by {
   margin-top: 20PX;
    font-size: 16px;
    padding-bottom: 105px;
    color:white;
  }
  
  @media only screen and (max-width: 960px) {
    .footer-info {
      text-align: center;
      padding: 0;
      font-size: 18px;
    }
  
    .footer-contact {
      padding: 100px 0 30px 0;
      text-align: center;
    }
    .footer-contact h5{
font-size:8px;
    }
    .footer-sns {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .design-by {
      display:flex;
      padding: 0 0 40px 0;
      font-size: 14px;
    
     
  }
    .facebook,
  .instagram,
  .fa-envelope,
  .whatsapp {
    font-size: 25px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
  }
    .footer-info > p  {
    padding-bottom: 15px;
    font-size: 16px;
  }
  .sns-links {
    display: flex;
    justify-content:space-around;
    width: 100%;
    margin-left: 30px;

    grid-template-columns: 1fr 1fr 1fr;
margin-bottom: 10px;

  }
  .whatsapp {
    position:fixed;
    width:40px;
    height:22px;
    bottom:60px;
    right:60px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    padding-top:6px;
    margin: 0 auto;
    border-bottom: 4px solid transparent;
  
    
  }
  }
